<h1>Add New Author</h1>

<form method="POST" action="/authors">
	<div>
		Firstname:
		<input type="text" name="firstname">
	</div>
	<div>
		Lasttname:
		<input type="text" name="lastname">
	</div>
	<div>
		Genre:
		<input type="text" name="genre">
	</div>
	<div>
		<input type="submit" value="ADD">
	</div>
</form>
